/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@700&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #F7F1E1; /* Old Lace */
  color: #3F3F2C; /* Earth Green */
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: #66371B; /* Kobicha */
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  border: none;
}
